.header-contents {
    background: linear-gradient(90deg, rgba(9, 214, 156, 1) 0%, rgba(12, 180, 213, 1) 100%);
    font-family: 'BIZ UDPゴシック';
}

header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;

}

.header-contents {
    position: fixed;
    width: 100%;
}

.header-logo {
    /* background-color: blueviolet; */
    font-size: 30px;
    color: black;
}

.header-nav ul {
    display: flex;
    list-style: none;
}

.header-nav ul li {
    margin-right: 80px;
    color: black;
    font-size: 20px;

}

.header-link {
    color: black;
    text-decoration: none;
    transition: all 0.2s;
}

.header-link:hover {
    color: white;
}